<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="500">

    <div id="wrap">
       
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("A.R.M.E.", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                     @*<li><a href="/#about">About</a></li>
                     <li><a href="/#contact">Contact</a></li>*@
                    @RenderSection("Nav", false)
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        
        <div class="container">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>

    </div>

    <footer>
        <div class="container">
            <p class="text-muted credit">&copy; @DateTime.Now.Year - A.R.M.E.</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
